@model PortfolioAccountViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this portfolio Account?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AccountHolder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountHolder)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FinancialInstitution)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FinancialInstitution)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountType.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssetType.TypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssetType.TypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrencyType.CurrencyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrencyType.CurrencyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
