@model IEnumerable<TNW.Models.AssetType>

@{
    ViewBag.Title = "Asset Types";
}

<h2>Asset Types</h2>

@if (User.Identity.IsAuthenticated)
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

<table class="table table-striped">

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TypeName)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.Id }) 
            @if (User.Identity.IsAuthenticated)
            {
                @: |
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) @: |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            }
        </td>
    </tr>
}

</table>
