@model IEnumerable<TNW.Models.AccountValue>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PortfolioAccount.AccountNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MonthlyBalance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MonthYear)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PortfolioAccount.AccountNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MonthlyBalance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MonthYear)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
